### Cleaning up data

In [1]:
import pandas as pd

df = pd.read_csv ('Womens_Clothing_E-Commerce_Reviews.csv')
print(df)

       Unnamed: 0  Clothing ID  Age                                  Title  \
0               4          847   47                       Flattering shirt
1              17          853   41           Looks great with white pants
2              20          847   33                      Cute, crisp shirt
3              24          847   55                              Versatile
4              47          823   52                                    NaN
...           ...          ...  ...                                    ...
23481       20088          772   50                      Comfy sweatshirt!
23482       21532          665   43                           So worth it!
23483       22997          136   47  Charcoal, pale gray, a bit of silver!
23484       23006          136   33                        Cute itsy socks
23485       23011          136   36                            Super socks

                                             Review Text  Rating  \
0      This shirt is very flattering to all due to th...       5
1      Took a chance on this blouse and so glad i did...       5
2      If this product was in petite, i would get the...       4
3      I love this shirt because when i first saw it,...       5
4      Very comfortable, material is good, cut out on...       5
...                                                  ...     ...
23481  This sweatshirt is really nice!  it's oversize...       5
23482  Got these on sale...absolutely love eberjey! f...       5
23483  These socks are soft and comfortable, and they...       5
23484  Love polkadots, love sparkle. these little soc...       5
23485  I love these little socks ? and the dots spark...       5

       Recommended IND  Positive Feedback Count Division Name Department Name  \
0                    1                        6       General            Tops
1                    1                        0       General            Tops
2                    1                        2       General            Tops
3                    1                        0       General            Tops
4                    1                        0       General            Tops
...                ...                      ...           ...             ...
23481                1                        0           NaN             NaN
23482                1                        0           NaN             NaN
23483                1                        1           NaN             NaN
23484                1                        0           NaN             NaN
23485                1                        0           NaN             NaN

      Class Name
0        Blouses
1        Blouses
2        Blouses
3        Blouses
4        Blouses
...          ...
23481        NaN
23482        NaN
23483        NaN
23484        NaN
23485        NaN

[23486 rows x 11 columns]

In [2]:
df.fillna("untitled")

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses
1,17,853,41,Looks great with white pants,Took a chance on this blouse and so glad i did...,5,1,0,General,Tops,Blouses
2,20,847,33,"Cute, crisp shirt","If this product was in petite, i would get the...",4,1,2,General,Tops,Blouses
3,24,847,55,Versatile,"I love this shirt because when i first saw it,...",5,1,0,General,Tops,Blouses
4,47,823,52,untitled,"Very comfortable, material is good, cut out on...",5,1,0,General,Tops,Blouses
...,...,...,...,...,...,...,...,...,...,...,...
23481,20088,772,50,Comfy sweatshirt!,This sweatshirt is really nice! it's oversize...,5,1,0,untitled,untitled,untitled
23482,21532,665,43,So worth it!,Got these on sale...absolutely love eberjey! f...,5,1,0,untitled,untitled,untitled
23483,22997,136,47,"Charcoal, pale gray, a bit of silver!","These socks are soft and comfortable, and they...",5,1,1,untitled,untitled,untitled
23484,23006,136,33,Cute itsy socks,"Love polkadots, love sparkle. these little soc...",5,1,0,untitled,untitled,untitled
23485,23011,136,36,Super socks,I love these little socks ? and the dots spark...,5,1,0,untitled,untitled,untitled

In [3]:
# Create a Ratings list.
Rating = df["Rating"].tolist()
Rating

[5,
 5,
 4,
 5,
 5,
 4,
 2,
 5,
 5,
 2,
 5,
 5,
 4,
 2,
 4,
 5,
 4,
 1,
 5,
 2,
 5,
 4,
 4,
 5,
 5,
 2,
 5,
 5,
 4,
 5,
 4,
 5,
 4,
 3,
 3,
 3,
 3,
 3,
 5,
 4,
 4,
 1,
 4,
 3,
 4,
 5,
 5,
 5,
 4,
 5,
 2,
 5,
 3,
 4,
 5,
 5,
 4,
 5,
 3,
 5,
 5,
 5,
 5,
 3,
 4,
 3,
 5,
 5,
 5,
 5,
 5,
 5,
 2,
 5,
 4,
 5,
 3,
 1,
 5,
 5,
 4,
 5,
 5,
 3,
 5,
 3,
 2,
 4,
 5,
 1,
 3,
 3,
 5,
 2,
 5,
 5,
 5,
 4,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 5,
 3,
 5,
 5,
 5,
 5,
 4,
 5,
 4,
 4,
 5,
 5,
 5,
 5,
 4,
 5,
 3,
 3,
 4,
 5,
 4,
 5,
 5,
 3,
 5,
 4,
 2,
 5,
 4,
 5,
 5,
 5,
 3,
 5,
 5,
 4,
 3,
 5,
 4,
 4,
 4,
 1,
 5,
 4,
 5,
 1,
 5,
 3,
 5,
 5,
 5,
 4,
 5,
 5,
 5,
 4,
 5,
 5,
 4,
 4,
 5,
 1,
 5,
 5,
 2,
 5,
 4,
 5,
 4,
 3,
 5,
 5,
 5,
 4,
 5,
 5,
 4,
 4,
 2,
 5,
 3,
 4,
 5,
 5,
 3,
 5,
 5,
 4,
 2,
 4,
 5,
 3,
 5,
 1,
 2,
 5,
 5,
 4,
 3,
 5,
 5,
 5,
 3,
 5,
 5,
 5,
 5,
 3,
 5,
 3,
 4,
 5,
 5,
 3,
 4,
 5,
 4,
 4,
 5,
 5,
 5,
 4,
 5,
 4,
 2,
 3,
 5,
 5,
 5,
 5,
 5,
 5,
 3,
 2,
 4,
 5,
 5,
 5,
 2,
 4,
 2,
 3,
 4,
 4,
 2,
 5,
 2,
 5,
 4,
 2,
 4,
 3,
 5,
 5,
 4,
 5,
 5,
 3,
 4,
 5,
 2,
 4,
 5,
 2,
 5,
 4,
 5,
 2,
 1,
 3,
 5,
 1,
 1,
 5,
 5,
 3,
 5,
 2,
 3,
 2,
 5,
 5,
 5,
 3,
 5,
 3,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 3,
 5,
 5,
 1,
 5,
 4,
 4,
 3,
 5,
 3,
 1,
 3,
 5,
 4,
 5,
 5,
 3,
 5,
 2,
 4,
 5,
 5,
 3,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 2,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 3,
 5,
 4,
 5,
 5,
 4,
 5,
 4,
 5,
 3,
 5,
 2,
 2,
 5,
 4,
 3,
 5,
 4,
 3,
 5,
 5,
 3,
 5,
 3,
 5,
 5,
 5,
 5,
 4,
 3,
 5,
 3,
 5,
 2,
 5,
 5,
 5,
 4,
 4,
 3,
 4,
 5,
 5,
 4,
 5,
 5,
 5,
 4,
 3,
 4,
 5,
 5,
 5,
 5,
 5,
 3,
 4,
 5,
 2,
 5,
 5,
 4,
 3,
 3,
 5,
 4,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 2,
 5,
 5,
 4,
 3,
 4,
 4,
 1,
 5,
 5,
 5,
 4,
 5,
 4,
 4,
 4,
 5,
 4,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 4,
 5,
 1,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 3,
 5,
 5,
 5,
 4,
 5,
 5,
 5,
 4,
 5,
 2,
 3,
 5,
 3,
 5,
 4,
 5,
 3,
 3,
 4,
 5,
 5,
 4,
 5,
 4,
 3,
 5,
 5,
 5,
 4,
 2,
 5,
 5,
 2,
 4,
 3,
 2,
 5,
 2,
 4,
 1,
 3,
 4,
 4,
 5,
 5,
 5,
 4,
 5,
 3,
 5,
 3,
 1,
 4,
 5,
 4,
 3,
 4,
 4,
 2,
 3,
 5,
 3,
 5,
 4,
 4,
 5,
 4,
 4,
 4,
 1,
 5,
 4,
 3,
 3,
 5,
 5,
 5,
 4,
 5,
 5,
 5,
 5,
 4,
 2,
 3,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 2,
 4,
 2,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 2,
 2,
 5,
 2,
 5,
 3,
 5,
 2,
 5,
 5,
 5,
 4,
 5,
 5,
 4,
 5,
 3,
 1,
 2,
 4,
 5,
 3,
 5,
 4,
 5,
 1,
 5,
 5,
 5,
 5,
 5,
 3,
 5,
 5,
 5,
 5,
 2,
 5,
 3,
 2,
 4,
 4,
 5,
 3,
 4,
 3,
 5,
 2,
 5,
 5,
 3,
 5,
 5,
 4,
 4,
 5,
 1,
 4,
 5,
 3,
 5,
 4,
 5,
 4,
 4,
 2,
 4,
 5,
 5,
 4,
 5,
 3,
 3,
 5,
 3,
 5,
 5,
 4,
 4,
 5,
 5,
 1,
 4,
 4,
 5,
 5,
 4,
 5,
 5,
 2,
 4,
 3,
 5,
 5,
 4,
 5,
 4,
 5,
 4,
 5,
 3,
 2,
 4,
 5,
 2,
 3,
 5,
 3,
 5,
 5,
 5,
 5,
 2,
 5,
 4,
 5,
 3,
 5,
 4,
 5,
 5,
 5,
 4,
 5,
 4,
 4,
 5,
 5,
 4,
 4,
 4,
 5,
 3,
 5,
 5,
 5,
 3,
 2,
 3,
 3,
 4,
 3,
 4,
 5,
 5,
 5,
 2,
 2,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 2,
 5,
 4,
 5,
 4,
 3,
 4,
 3,
 5,
 4,
 5,
 3,
 3,
 5,
 5,
 2,
 5,
 5,
 4,
 3,
 3,
 5,
 5,
 5,
 1,
 1,
 5,
 2,
 4,
 1,
 4,
 4,
 5,
 5,
 5,
 1,
 5,
 1,
 5,
 5,
 5,
 1,
 5,
 2,
 2,
 5,
 5,
 5,
 5,
 4,
 5,
 4,
 5,
 4,
 5,
 3,
 5,
 4,
 5,
 4,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 5,
 3,
 5,
 5,
 4,
 5,
 5,
 4,
 3,
 4,
 5,
 3,
 5,
 4,
 3,
 2,
 3,
 5,
 3,
 2,
 5,
 4,
 3,
 4,
 5,
 4,
 5,
 3,
 4,
 3,
 3,
 5,
 3,
 3,
 5,
 5,
 3,
 5,
 3,
 5,
 5,
 5,
 4,
 4,
 5,
 5,
 5,
 1,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 5,
 4,
 5,
 3,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 1,
 3,
 5,
 5,
 1,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 3,
 5,
 4,
 1,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 3,
 4,
 1,
 1,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 2,
 5,
 5,
 5,
 5,
 4,
 5,
 5,
 4,
 5,
 3,
 5,
 1,
 5,
 5,
 5,
 4,
 5,
 1,
 2,
 5,
 5,
 5,
 4,
 3,
 5,
 5,
 5,
 5,
 3,
 1,
 5,
 4,
 5,
 5,
 4,
 5,
 5,
 5,
 3,
 5,
 4,
 5,
 4,
 5,
 5,
 5,
 5,
 2,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 3,
 3,
 2,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 2,
 5,
 5,
 4,
 2,
 4,
 4,
 1,
 4,
 5,
 5,
 5,
 5,
 4,
 5,
 2,
 3,
 5,
 4,
 4,
 5,
 4,
 5,
 ...]

In [4]:
# Create bins in which to place values based Ratings
bins = [0, 1, 2, 3, 4, 5, 6]

# Create labels for these bins
group_labels = ["Negative", "Negative", "Negative", "Positive", "Positive", "Positive"]

In [5]:
# Slice the data and place it into bins
pd.cut(df["Rating"], bins, labels=group_labels, ordered=False).head()

0    Positive
1    Positive
2    Positive
3    Positive
4    Positive
Name: Rating, dtype: category
Categories (2, object): ['Negative', 'Positive']

In [6]:
# Place the data series into a new column inside of the DataFrame
df["Positive or Negative"] = pd.cut(df["Rating"], bins, labels=group_labels, ordered=False)
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Positive or Negative
0,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,Positive
1,17,853,41,Looks great with white pants,Took a chance on this blouse and so glad i did...,5,1,0,General,Tops,Blouses,Positive
2,20,847,33,"Cute, crisp shirt","If this product was in petite, i would get the...",4,1,2,General,Tops,Blouses,Positive
3,24,847,55,Versatile,"I love this shirt because when i first saw it,...",5,1,0,General,Tops,Blouses,Positive
4,47,823,52,NaN,"Very comfortable, material is good, cut out on...",5,1,0,General,Tops,Blouses,Positive

In [10]:
df2 = df[['Positive or Negative', 'Review Text']].copy()

In [11]:
df2.head()

  Positive or Negative                                        Review Text
0             Positive  This shirt is very flattering to all due to th...
1             Positive  Took a chance on this blouse and so glad i did...
2             Positive  If this product was in petite, i would get the...
3             Positive  I love this shirt because when i first saw it,...
4             Positive  Very comfortable, material is good, cut out on...

### Connecting to PGAdmin Database

In [14]:
import os
import time
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine

In [15]:
db_password = 'PASSWORD HERE'

In [16]:
file_dir = r'C:\Users\nooru\Desktop\Class Folder\Team4FinalProject'
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/ecommerce_reviews"

In [17]:
engine = create_engine(db_string)

In [18]:
df.to_sql(name='reviews', con=engine)

486

In [19]:
df2.to_sql(name='feedback', con=engine)

486