In [2]:
import pandas as pd
df = pd.read_csv (r'C:\Users\vande\Desktop\class_folder\Team4FinalProject\Womens_Clothing_E-Commerce_Reviews.csv')
df.to_json (r'C:\Users\vande\Desktop\class_folder\Team4FinalProject\Womens_Clothing_E-Commerce_Reviews.json')

In [3]:
df

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses
1,17,853,41,Looks great with white pants,Took a chance on this blouse and so glad i did...,5,1,0,General,Tops,Blouses
2,20,847,33,"Cute, crisp shirt","If this product was in petite, i would get the...",4,1,2,General,Tops,Blouses
3,24,847,55,Versatile,"I love this shirt because when i first saw it,...",5,1,0,General,Tops,Blouses
4,47,823,52,NaN,"Very comfortable, material is good, cut out on...",5,1,0,General,Tops,Blouses
...,...,...,...,...,...,...,...,...,...,...,...
23481,20088,772,50,Comfy sweatshirt!,This sweatshirt is really nice! it's oversize...,5,1,0,NaN,NaN,NaN
23482,21532,665,43,So worth it!,Got these on sale...absolutely love eberjey! f...,5,1,0,NaN,NaN,NaN
23483,22997,136,47,"Charcoal, pale gray, a bit of silver!","These socks are soft and comfortable, and they...",5,1,1,NaN,NaN,NaN
23484,23006,136,33,Cute itsy socks,"Love polkadots, love sparkle. these little soc...",5,1,0,NaN,NaN,NaN
23485,23011,136,36,Super socks,I love these little socks ? and the dots spark...,5,1,0,NaN,NaN,NaN